@{
    ViewData["Title"] = "Habitacion1";
    <link rel="stylesheet" href="wwwroot/site.css">
}

<body class="Hab1">

    <header>
        <div>
        <h1>CELDA</h1>
        <h3>Deber치s encontrar una carta de tu compa침ero de celda, que te revelar치 la informaci칩n necesaria para salir.</h3 >
        @if(ViewBag.On == true){
            <audio controls> <source src="~/sounds/escape.mp3" type="audio/mpeg"></audio>
        }
        </div> 
    </header>
    
    

    <p>@Html.Raw(ViewBag.Parrafo1)
        @Html.Raw(ViewBag.Parrafo2)
        @Html.Raw(ViewBag.Parrafo3)
        @Html.Raw(ViewBag.Parrafo4)
    </p>

    <form action="@Url.Action("MostrarCarta")" method="get">
        <button type="input"></button>
    </form>
    
    <form class="envio" action="@Url.Action("Habitacion")">
        <input type="hidden" name="sala" value="1" />
        <input type="text" name="clave"  placeholder="Respuesta...">
        <input type="submit" value="Validar">
    </form>
    <h2>@Html.Raw(ViewBag.Error)</h2>

</body>